html,body,#root {
  height: 100%;
  min-height: 100%;
  font-family: monospace;
}
.h-10 { height: 10%; }
.h-20 { height: 20%; }
.h-30 { height: 30%; }
.h-40 { height: 40%; }
.h-50 { height: 50%; }
.h-60 { height: 60%; }
.h-70 { height: 70%; }
.h-80 { height: 80%; }
.h-90 { height: 90%; }
.monospace { font-family: monospace; }
.pointer-events-none { pointer-events: none; }
.break-word { word-wrap: break-word }
